# Lombok configuration file
config.stopBubbling = true

# Generated code annotations
lombok.addLombokGeneratedAnnotation = true

# Constructor behavior
lombok.anyConstructor.addConstructorProperties = true

# Field defaults
lombok.accessors.chain = true
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = false

# Equals and ToString behavior
lombok.toString.doNotUseGetters = true
lombok.equalsAndHashCode.callSuper = call

# Logger field name setting (simplified)
lombok.log.fieldName = log

# Additional configuration from .lombok
lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.copyableAnnotations += org.apache.opennlp.gpu.annotation.GpuCompatible
lombok.copyableAnnotations += javax.annotation.Nullable
lombok.copyableAnnotations += javax.annotation.Nonnull
lombok.copyableAnnotations += org.jetbrains.annotations.NotNull

# Experimental features
lombok.experimental.flagUsage = warning
